{% extends 'base.html.twig' %}

{% block title %}
  La page d'index !
{% endblock %}

{% block body %}
    <div class="text-center">
      <h1 class="text-5xl font-bold mb-4">JOB4ME</h1>
      <h2 class="text-2xl mb-2">LE SITE QUI REGROUPE DES OFFRES D'EMPLOIS AVEC PLUSIEURS ENTREPRISES PARTENAIRES</h2>
      <p>TEST</p>
    </div>
  </div>
{% endblock %}
