{% extends 'base.html.twig' %}

{% block title %}
  La page d'index !
{% endblock %}

{% block body %}
  <div class="h-screen w-full bg-cover bg-center bg-[url('../images/img-home.jpg')] flex items-center justify-center text-white">
    <div class="text-center">
      <h1 class="text-5xl font-bold mb-4">HOMEPAGE</h1>
      <h2 class="text-2xl mb-2">TEST</h2>
      <p>TEST</p>
    </div>
  </div>
{% endblock %}
