<nav class="">
  <ul class="flex flex-col sm:flex-row bg-gray-700 text-white justify-center">
    <li>
      <a class="hover:bg-gray-900 transition-all py-4 px-5 block" href="{{ path('app_index') }}">Accueil</a>
    </li>
    <li>
      <a class="hover:bg-gray-900 transition-all py-4 px-5 block" href="{{ path('app_joboffers') }}">TOUTES LES OFFRES</a>
    </li>
    <li>
      <a class="hover:bg-gray-900 transition-all py-4 px-5 block" href="{{ path('app_partners') }}">NOS ENTREPRISES PARTENAIRES</a>
    </li>
  </ul>
</nav>
